body{
    color: white;
}

#PCimage, img{
    width: 150px;
    height: 150px;
}

.character, .fight{
    margin:20px;
}

#PCimage, #DEFImage{
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
}

body{
    /*background-image: url("../images/Endor.jpg");*/
    background-image: url("../images/DeathStar.jpg");
    background-size: contain;
    background-size: 100% auto;
    background-color: #cccccc;
}

.character{
    margin-left:0px;
    margin-right: 0px;
    background-color: #ffffff;
    border-style:solid;
    border-color: green;
    border-width: 3px;  
    color: black; 
}

#kenobi{
    margin-left: 50px;
}

.fallen{
    float:right;
    width: 250px;
}

#deceased{
    border-style: solid;
    border-width: 3px;
    border-color: transparent;

    margin-bottom: 15px;
}

#enemiesAttack{
    width: 700px;
}

#won{
    font-size: 75px;
    font-weight: bold;
}

/*Set the bottom img's to be hidden*/